{% extends 'base.html' %}
{% load bulma_tags %}
{% load static %}
{% block title %}Jengu-Browse Consultations{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="message is-{{ message.tags }}" {% endif %}>
        <div class="message-body">{{ message }}</div>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="columns">
    <div class="column is-two-third">
        <div class="tags has-addons">
            <span class="tag is-primary is-large">{{status}}</span>
            <span class="tag is-large">by {{order}}</span>
            {% if status != "booked" %}
            <a href="/console/consultations/?status=booked"><button class="button is-link is-outlined">booked</button></a>
            {%endif%}
            {% if status != "cancelled" %}
            <a href="/console/consultations/?status=cancelled"><button class="button is-link is-outlined">cancelled</button></a>
            {%endif%}
            {% if status != "done" %}
            <a href="/console/consultations/?status=done"><button class="button is-link is-outlined">done</button></a>
            {%endif%}
        </div>
        <table class="table" id="consultation_table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Type</th>
                    <th>Payed</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for c in item_list%}
                <tr>
                    <th>{{c.id}}</th>
                    <th>{{c.date}}</th>
                    <td>{% for cli in c.fk_client.all%}
                        <span id="firstName_encrypted">{{cli.first_name}}</span>
                        <span id="lastName_encrypted">{{cli.last_name}}</span>
                        <br>
                        {% endfor %}
                    </td>
                    <td><span class="tag is-info">{{c.fk_type.denomination}}</span></td>
                    <td>{{c.payed}}</td>
                    <td><span class="tag is-primary">{{c.status}}</span></td>
                    <td><a class="modal-button" data-target="#modal_consultation{{c.id}}"><button class="button is-warning is-outlined">update</button></a>
                    </td>
                </tr>
                <div id="modal_consultation{{c.id}}" class="modal">
                    <div class="modal-background"></div>
                    <header class="modal-card-head">
                        <p class="modal-card-title">Update {{c.status}} consultation n° {{c.id}}</p>
                    </header>
                    <div class="modal-content">
                        {% include "console/consultation_update_form.html" with form=form_consultation %}
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column is-one-third">
        <form method="post">
            {% csrf_token %}
            {{ form | bulma}}
            <button class="button is-link is-outlined">Register</button>
    </div>
</div>
{% endblock %}