{% extends 'base.html' %}
{% load bulma_tags %}
{% load static %}

{% block title %}Jengu-Browse Client{% endblock %}

{% block content %}

  {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>
        <div class="message-body">{{ message }}</div>
          </li>
        {% endfor %}
      </ul>
  {% endif %}

  <div class="columns">
  	<div class="column is-one-third">
  		<form method="post">
			{% csrf_token %}
			{{ form }}
		<button class="button is-link is-outlined">Register</button> 
	</form>
  	</div>
  	<div class="column is-two-thirds">
      <div class="tags has-addons">
        <span class="tag is-primary is-large">{{status}}</span>
        <span class="tag is-large">by {{order}}</span>
        {% if status != "active" %} 
          <a href="/console/clients/?status=active"><button class="button is-link is-outlined">active</button></a> 
        {%endif%}
        {% if status != "former" %} 
          <a href="/console/clients/?status=former"><button class="button is-link is-outlined">former</button></a>
        {%endif%}
        {% if status != "banned" %} 
          <a href="/console/clients/?status=banned"><button class="button is-link is-outlined">banned</button></a>
        {%endif%}
      </div>
  		<table class="table" id="clients_table">
  			<thead>
    			<tr>
    				<th>Id</th>
    				<th>First name</th>
    				<th>Last name</th>
    				<th>Birthday</th>
    				<th>Inscription</th>
    			</tr>
    		</thead>
  			<tbody>
		  		{% for c in item_list%}
		  		<tr>
		  			<th>{{c.id}}</th>
		  			<td><span id="firstName_encrypted">{{c.first_name}}</span></td>
		  			<td><span id="lastName_encrypted">{{c.last_name}}</span></td>
		  			<td>{{c.birth_date}}</td>
		  			<td>{{c.inscription}}</td>
            <td><a href="{{ BASE_URL }}/console/client/{{c.id}}"><img src="{% static "console/img/icons/ballot-black-36dp.svg" %}"></a></td>
		  		</tr>
		  		{% endfor %}
  			</tbody>
  		</table>
  	</div>
  </div>

{% endblock %}