{% load static %}

{% if user.is_authenticated %}
	
<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/console"><button class="button is-primary is-outlined">Home</button></a>
	  <a href="/console/clients"><button class="button is-primary is-outlined">Clients</button></a>
    <a href="/console/consultations"><button class="button is-primary is-outlined">Consultations</button></a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="modal-button" data-target="#modal_keys"><button class="button is-warning is-outlined">Manage Keys</button></a>
      </div>
      <div id="modal_keys" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Private key update</p>
            </header>
            <section class="modal-card-body">
                <p>If you are here, good chances are that your app failed to decrypt your data. If you are connected from a new device or web browser, your browser does not have the <b>secret key</b> necessary to decrypt your data. Please, <b>register</b> it here and <b>reload</b> the page:</p>

                <form class="registrer key">
                  <div class="field">
                    <input class="input" id="inputKey" type="text" placeholder="Your secret key here">
                  </div>
                  <button id="registerKey" class="button is-info">Register</button>
                </form>

            </section>
        </div>
        <button class="modal-close"></button>
      </div>

      <div class="navbar-item">
        Hello {{ user.username }}  
        <a href="{% url 'logout' %}"><button class="button is-link is-outlined" onclick="dropSessionInformation()">Logout</button></a>
      </div>
    </div>
  </div>
</nav>

{% endif %}
