<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Jengu{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'console/css/style.css' %}">

  <link rel="icon" type="image/png" href="{% static 'console/img/logo.png' %}">

  <script type="text/javascript" src="{% static 'console/js/base64js.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/nacl-fast.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/main.js' %}"></script>
  


</head>
<body class="has-navbar-fixed-top">
  	<main>
      {% include "console/header.html" %}
  		<div class="container">
        
        
    		  {% block content %}
          {% endblock %}
        
  		</div>
  	</main>
</body>
</html>
