@charset "utf-8";

$blued_black: #464e5c;
$blued_grey: #5c687d;
$petrol_blue: #6b9aed;
$beige-lighter: #EFF0EB;
$orange: #eb9142;
$white: #f0edeb;

$widescreen-enabled: true;
$fullhd-enabled: true;

$link: $orange;

$body-background-color: $blued_grey;
$body-color: $beige-lighter;
$title-color: $beige-lighter;

$navbar-background-color: $blued_black;
$navbar-item-color: $white; 
$navbar-dropdown-background-color: $blued_black; 

$table-background-color: $blued_black;
$table-color: $white;
$text-strong: $orange;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

