{% extends 'base.html' %}

{% block title %}Jengu-impayés{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% include "jengu/header.html" %}

	<div class="row">
		<h4>Impayés du mois</h4>

        <table class="u-full-width" id="tab_impaye">
        	<tr>
        		<th>ID</th>
                <th>Date</th>
                <th>Prénom</th>
                <th>Nom</th>  
            </tr>
            {% for c in unpayed %}
            
            <tr bgcolor="{% cycle '#F5F5F5' '#AFAFAF' %}">
            	<td>{{c.id}}</td>
                <td>{{c.date}}</td>
                <td>{{c.first_name}}</td>
                <td>{{c.last_name}}</td>
                      
            </tr>
            {% endfor %} 
        </table>

        <!--added_for_client_side_encryption-->
        <script type="text/javascript">
            var table = document.getElementById("tab_impaye");
            for (var i = 1, row; row = table.rows[i]; i++) {
                row.cells[2].textContent = decrypt(row.cells[2].textContent);
                row.cells[3].textContent = decrypt(row.cells[3].textContent);
            }
        </script>

	</div>

	<div class="row">
		<form method="post">
        		{% csrf_token %}

        		<select name="id">
        			{% for c in unpayed %}
              			<option value="{{c.id}}"> {{c.id}} </option>
              		{% endfor %}
              	</select>

        		{{adjust_form}}
        		<input type="submit" value="Corriger">
        </form>
	</div>

	

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}