{% extends 'base.html' %}

{% block title %}Jengu-fiche{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% include "jengu/header.html" %}

  <div class="row">
  		<div class="four columns">
  			<h5>
          <a href="" id="patient_name">
            <span id="prenom"></span>
            <span id="nom"></span>
          </a> {{ patient.birth_date }}

          <!--added_for_client_side_encryption-->
          <script type="text/javascript">
            var prenom = "{{ patient.first_name }}";
            document.getElementById("prenom").innerHTML = decrypt(prenom);

            var nom = "{{ patient.last_name }}";
            document.getElementById("nom").innerHTML = decrypt(nom);

            var mail = "{{ patient.mail }}"; 
            document.getElementById("patient_name").href = "mailto:"+decrypt(mail);
          </script>

        </h5>

        <!--added_for_client_side_encryption-->
        <form id="edit_patient" method="post" action="edit_patient/" onsubmit="encrypt_form(['id_tel', 'id_mail'])">
              {% csrf_token %}
              {{edit_patient}}
              <input type="submit" value="Modifier">
        </form>
        
        <!--added_for_client_side_encryption-->
        <script type="text/javascript">
          var mail = document.getElementById("id_mail").value;
          document.getElementById("id_mail").value = decrypt(mail);

          var tel = document.getElementById("id_tel").value;
          document.getElementById("id_tel").value = decrypt(tel);
        </script>
        

       
  		</div>

  		<div class="eight columns" style="border: none">
  			<h4>Notes</h4>
        <!-- mode vue-->
        <!--<p>{{ patient.notes }}</p>-->

        <form id="edit_notes" method="post" action="edit_note/" onsubmit="encrypt_form(['id_notes'])">
            {% csrf_token %}
            {{edit_note}}
            <br>
            <input type="submit" value="Modifier">
        </form>

        <!--added_for_client_side_encryption-->
        <script type="text/javascript">
          document.getElementById("id_notes").value = decrypt(document.getElementById("id_notes").value);
        </script>
        
      </div>
  </div>

  <div class="row">
      <div class="twelve columns">
          <h3>Historique consultation</h3>

            <table class="u-full-width">
                <tr>
                      <th>Date</th>
                      <th>Payé?</th>
                </tr>

                {% for c in consultations %}
                  <tr bgcolor="{% cycle '#F5F5F5' '#AFAFAF' %}">
                      <th>{{c.date}}</th>
                      <th>{{c.payed}}</th>
                  </tr>
                {% endfor %}
                

            </table>

      </div>
  </div>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}


