{% load static %}


	<div class="header" align="right"> 
	  <a href="/jengu"><img src="{% static 'jengu/img/home.png' %}" height="42"></a>
	  <a href="/jengu/compta/"><img src="{% static 'jengu/img/balance.png' %}" height="42"></a>
	  <a href="/jengu/browse/"><img src="{% static 'jengu/img/fiches.png' %}" height="42"></a>
	  <a href="/jengu/save/"><img src="{% static 'jengu/img/save.png' %}" height="42"></a>
	  <a href="/jengu/profile/"><img src="{% static 'jengu/img/build.png' %}" height="40"></a> 

	  Hello {{ user.username }}   
	      <a href="{% url 'logout' %}">logout</a>
	</div>
